*{
    font-family:Arial, Helvetica, sans-serif;
}

h3{
    font-size:25px;
}

.name{
    border-style: solid;
    border-color: black;
}
.descrip{
    border-style: solid;
    border-color: black;
}
.price{
    border-style: solid;
    border-color: black;
}
.sku{
    border-style: solid;
    border-color: black;
}
.cant{
    border-style: solid;
    border-color: black;
}
.boton{
    border-style: solid;
    border-color: black;
    ;
}
#button{
    border-radius: 8px;
    font-size: 20px;
    color: rgb(255, 234, 234);
    background-color: rgb(28, 28, 141);
    padding: 14px 40px;
}